@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

.slideshow_container {
  position: relative;
  width: 100%;
  height: 450px;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
}

.slideshow_container:hover {
  transition: 1s all;
}

.slideshow_container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade 1s;
}

.slideshow {
  width: 100%;
  height: inherit;
  position: relative;
}

.slideshow_title {
  font-size: 100px;
  position: absolute;
  width: 100%;
  color: #9CFFB9;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.slideshow_image {
  object-fit: cover;
  height: inherit !important;
  width: 100% !important;
}

.inactive {
  display: none;
}

@media only screen and (max-width: 600px) {
  .slideshow_container {
    height: 200px;
  }

  .slideshow_title {
    font-size: 50px;
  }
}
