.about_intro {
  display: flex;
  align-items: flex-start;
  margin: 70px;
  gap: 20px;
}

.about_intro_text {
  padding-left: 20px;
  margin-top: 20px;
}

.about_intro_text p:not(:last-of-type),
.biography_section p:not(:last-of-type) {
  margin-bottom: 10px;
}

.list_container {
  display: flex;
}

@media (max-width: 600px) {
  .container {
    margin: 0;
  }

  .title_container {
    width: 100%;
  }

  .about_wrapper {
    margin-top: 200px;
  }

  .about_intro_title {
    width: 50% !important;
    font-size: 35px;
  }

  .about_intro_sub_title {
    font-size: 20px;
    width: 90% !important;
    margin: 20px auto;
  }

  .about_intro {
    gap: 0 !important;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  .about_intro_text {
    letter-spacing: 0.5px;
  }

  .content_text {
    text-align: justify;
    letter-spacing: 0.5px;
    width: 90%;
    margin: 0 auto;
  }

  .content_paragraph {
    height: 600px; 
    padding: 15px 15px 0 15px !important;
  }
}
