.about_intro_sub_title {
  margin-top: 20px;
}

.inner_container {
  max-width: 1200px;
  margin: 0 auto;
}

.about_intro {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  gap: 20px;
}

.about_intro_text {
  padding-left: 20px;
  margin-top: 20px;
}

.about_intro_text p:not(:last-of-type),
.biography_section p:not(:last-of-type) {
  margin-bottom: 10px;
}

.list_container {
  display: flex;
}

@media (max-width: 900px) {
  .content_paragraph_with_image {
    height: 1000px; 
  }

  .about_intro_sub_title {
    width: 95%;
    margin: 20px auto;
  }

  .about_intro {
    display: flex;
    flex-direction: column;
    height: 1000px !important;
    flex-grow: 3;
  }

  .photo {
    width: 600px;
    height: auto;
  }

  .content_paragraph {
    padding: 15px 30px; 
  }

  /* .grid_container {
    display: flex; 
    flex-direction: column;
    width: 100%; 
  } */
}

@media (max-width: 600px) {
  .container {
    margin: 0;
  }

  .title_container {
    width: 100%;
  }

  .about_wrapper {
    margin-top: 200px;
  }

  .about_intro_title {
    width: 50% !important;
    font-size: 35px;
  }

  .about_intro_sub_title {
    font-size: 20px;
    width: 90% !important;
  }

  .about_intro {
    gap: 0 !important;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  .about_intro_text {
    letter-spacing: 0.5px;
 
  }

  .about_intro_text p {
    margin-bottom: 0 !important; 
  }

  .photo {
    margin: 0 auto;
    width: 90%;
  }

  .content_text {
    text-align: justify;
    letter-spacing: 0.5px;
    width: 90%;
    margin: 0 auto;
  }

  .content_paragraph {
    flex-grow: 3;
    padding: 15px 5px !important;
    height: auto;
  }

  .content_paragraph_with_image {
    padding-bottom: 200px;
    padding: 15px 5px 115px !important;
    height: 900px !important;
  }

  .about_intro_text {
    height: 400px !important;
    padding-bottom: 230px !important;
  }

  .about_last_paragraph {
    padding-bottom: 300px !important;
  }

  .list_container {
    margin: 0 15px 0 15px;
  }
}
