

.consultation_package h2 {
  margin: 30px 0;
}

.consultation_package p {
  font-weight: bold;
  margin: 30px 0;
}

@media (max-width: 600px) {


  .inner_container {
   width: 90%; 
   margin: 0 auto; 
  }
}
