.inner_container {
  max-width: 1100px;
  margin: 0 auto;
}

.columns {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 40px 10px;
  gap: 30px;
}

.contact_title_wrapper {
  flex: 35%;
}

.contact_image {
  margin: 20px 0px 0 20px;
  border-radius: 4px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form_wrapper {
  flex: 65%;
  background-color: rgb(246, 245, 245);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.form * {
  font-family: "Roboto", sans-serif;
}

.form input,
.form textarea {
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.form textarea {
  resize: none;
}

.form h1 {
  text-align: center;
  margin-bottom: 12px;
}

.form p {
  text-align: center;
  margin-bottom: 20px;
}

.form label {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.input_text {
  width: 100%;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
}

.names {
  display: flex;
  gap: 10px;
}

.form_group {
  margin-bottom: 20px;
}

.message {
  display: block;
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
}

.send_message {
  width: 100%;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
}

.grid_pic {
  width: 300px;
}

@media (max-width: 600px) {
  .columns {
    flex-direction: column;
    padding: 0 10px;
  }

  .contact_title_wrapper_image {
    display: flex;
    justify-content: center;
  }

  .contact_image {
    display: none;
  }

  .form_wrapper {
    margin-top: 100px; 
  }
}
