:root {
  --primary-color: #67a97b;
  --secondary-color: #a4c868;
  --title-color: --highlight-color;

  --tertiary-color: #546484;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  width: 500px;
}

.page_title {
  text-align: center;
  font-size: 50px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.inner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}
