:root {
  --primary-color: #67a97b;
  --secondary-color: #a4c868;
  --title-color: --highlight-color;

  --tertiary-color: #546484;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  width: 500px;
  font-size: 40px;
}

.page_title {
  text-align: center;
  font-size: 50px;
  color: var(--primary-color);
  margin-top: 70px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.inner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

@media (max-width: 600px) {
  h1 {
    width: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .page-title {
    margin: 0px;
  }

  #section p {
    margin: 20px;
    letter-spacing: 0.5px;
    line-height: 21.5px;
  }
}
