* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.page_title {
  font-size: 50px;
  color: #63b5b5;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.inner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
}
