.home_intro {
  margin: 50px;
}

.home_content {
  max-width: 1200px;
  margin: 0 auto;
}

.home_title {
  font-size: 44px;
  width: 100%;
  border-bottom: none;
}

.home_subtitle {
  color: var(--primary-color);
  margin: 20px 0;
  font-size: 34px;
}

.intro {
  display: flex;
  align-items: flex-start;
  margin: 70px;
}

.photo {
  max-width: 300px;
}

.intro_text {
  padding-left: 20px;
  margin-top: 20px;
}

.intro_text p:not(:last-of-type),
.biography_section p:not(:last-of-type) {
  margin-bottom: 10px;
}

.ordered_list {
  margin-bottom: 100px;
}

.health_problem_list {
  margin: 20px;
  columns: 2;
}

.freeGuideContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.freeGuide {
  margin-top: 20px;
}

.freeGuideLink {
  color: #000;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 30px;
  background-color: var(--secondary-color);
  transition: 0.4s;
}

.freeGuideLink:hover {
  background-color: var(--primary-color);
}

@media (max-width: 600px) {
  .home_title {
    font-size: 2.5rem;
  }

  .home_subtitle {
    font-size: 2rem;
  }

  .home_content {
    margin: 1.5rem;
    letter-spacing: 0.5px;
  }

  /* .intro {
    flex-direction: column-reverse;
  } */
}
