.wellness_container p {
  padding-bottom: 20px !important;
}

.page_title {
  color: var(--primary-color);
}

.offerings_title {
  padding-bottom: 20px;
}

.offerings_list {
  list-style: circle !important;
}

.program_info {
  padding: 20px 0;
}

.program_info h3 {
  text-align: center;
  padding: 20px 0;
}

.program_details {
  font-weight: bold;
}

.program_details_list {
  padding: 20px 0 !important;
}

.program_details_list li {
  list-style: circle !important;
}

.offerings_img {
  margin: 40px auto;
}

.path_title {
  text-align: center;
}

.path {
  padding: 20px 0;
}

.path p:nth-child(1) {
  text-decoration: underline;
}

.plan_details {
  margin: 10px;
}

.plan_details span {
  font-weight: bold;
  padding-right: 4px;
}

.plan_contact {
  text-align: center;
}

.contact_btn_container {
  width: 13%;
  margin: 0 auto;
  color: #000;
  border-radius: 4px;
  text-decoration: none !important;
  padding: 10px 30px;
  background-color: var(--secondary-color);
  transition: 0.4s;
  margin-bottom: 10px;
}

.contact_btn_container:hover {
  background-color: var(--primary-color);
}

.contact_btn {
  text-decoration: none;
  color: #000;
}

@media (max-width: 600px) {
  .page_title {
    margin-bottom: 20px;
  }

  .offerings_title {
    width: 90%;
    margin: 200px auto 0;
  }

  .inner_container {
    width: 90%;
    margin: 0 auto;
  }
}
