.wellness_container p {
    padding-bottom: 20px !important;
}


.offerings_title {
    padding-bottom: 20px; 
}

.offerings_list {
    list-style: circle !important;
}

.program_info {
    padding: 20px 0;
}

.program_info h3 {
    text-align: center;
    padding: 20px 0;  
}

.program_details {
    font-weight: bold;   
}

.program_details_list {
    padding: 20px 0 !important; 
}

.program_details_list li {
    list-style:circle !important;
}

.offerings_img {
    width: 600px;
    margin: 0 auto; 
}

.path_title {
    text-align: center;
}

.path {
    padding: 20px 0; 
}

.path p:nth-child(1){
    text-decoration: underline;
}

.plan_details {
    margin: 10px; 
}

.plan_details span {
    font-weight: bold;
    padding-right: 4px; 
}

.plan_contact {
    text-align: center;
}

.content_slider_container::before {
    content: "hello"
}