.slide_container {
  background-color: #a4c868;
  text-align: center;
  padding: 40px 80px;
}

.slide_container h4 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 20px;
}

.name {
  font-style: italic;
}
