

.inner {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.footer_content {
  padding-bottom: 50px;
}

.footer_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer_pic {
  max-width: 130px;
}

.nutritionist_pic_container p {
  padding-top: 10px;
}

.meatless_monday_logo {
  max-width: 175px;
  margin-right: auto;
  margin-left: auto;
}

.credentials img {
  max-width: 252px;
  margin-left: auto;
}

.credentials p {
  text-align: right;
  padding-top: 15px;
}

.footer_contacts {
  background: #f8f8f8;
}

.footer_contacts .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
