.social_icons_list {
    display: flex;
  }
  
  .social_icons_list {
    display: flex;
    list-style: none !important;
  }
  
  .social_icons_list li {
    padding: 5px 10px;
  }
  
  .social_icons_list a {
    text-decoration: none;
  }
  